@using Microsoft.AspNetCore.Http
@using ProjectAss.Models
@{
    Layout = "~/Views/Shared/LayoutShoping.cshtml";
}

<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div class="pizzaro-sorting">
            <form class="woocommerce-ordering" method="get">
                <select name="orderby" class="orderby">
                    <option value="menu_order" selected="selected">Default sorting</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="date">Sort by newness</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">Sort by price: high to low</option>
                </select>
                <input type="hidden" name="shop_view" value="grid-view"><input type="hidden" name="shop_style" value="lite"><input type="hidden" name="shop_layout" value="left-sidebar"><input type="hidden" name="shop_columns" value="3">
            </form>
            <form class="form-pizzaro-wc-ppp">
                <select name="ppp" onchange="this.form.submit()" class="pizzaro-wc-wppp-select c-select">
                    <option value="9" selected="selected">Show 9</option>
                    <option value="18">Show 18</option>
                    <option value="36">Show 36</option>
                    <option value="-1">Show All</option>
                </select>
                <input type="hidden" name="shop_view" value="grid-view"><input type="hidden" name="shop_style" value="lite"><input type="hidden" name="shop_layout" value="left-sidebar">
                <input type="hidden" name="shop_columns" value="3">
            </form>
            <p class="woocommerce-result-count">Showing 1–9 of 54 results</p>
            <div class="product-filters-widgets">
                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#products_filter_collapse" aria-expanded="false" aria-controls="products_filter_collapse">More Filters<i class="fa fa-chevron-down"></i></a>
                <div class="collapse" id="products_filter_collapse">
                    <div id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                        <span class="gamma widget-title">Filter by price</span>
                        <form method="get" action="Search">
                            <div class="price_slider_wrapper">
                                <div class="price_slider_amount">
                                    <div style="">From:<span class="from"><input type="text"></span> 
                                        To:<span class="to"><input type="text"></span></div>
                                    <div class="clear"></div>
                                    <button type="submit" class="button">Filter</button>
                                </div>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="columns-3">
                    <ul class="products">
                        @foreach (Tblproduct food in Model)
                        {
                            <li class="product">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <div class="product-image-wrapper">
                                            <a href="/Shop/Details/@food.FoodId/@food.MenuTypeId" class="woocommerce-LoopProduct-link">
                                                <img src="~/assets/images/products/p7.jpg" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="product-content-wrapper">
                                            <a href="/Shop/Details/@food.FoodId/@food.MenuTypeId" class="woocommerce-LoopProduct-link">
                                                <h3>@food.FoodName</h3>
                                                <div itemprop="description">
                                                    <p style="max-height: none;">@food.FoodDescription</p>
                                                </div>
                                                <div class="yith_wapo_groups_container">
                                                    <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                                        <h3><span>Pick Size</span></h3>
                                                        @foreach (TblfoodSize tbl in ViewBag.size)
                                                        {
                                                            @if(tbl.FoodId == food.FoodId){                                                                                                                           
                                                            <div class="ywapo_input_container ywapo_input_container_radio">
                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">@tbl.FoodSize cm</span></span>
                                                                <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@tbl.FoodPrice</span></span>
                                                            </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                            </li>
                            <!-- /.products -->
                        }
                    </ul>
                </div>
                <nav class="woocommerce-pagination">
                    <ul class="page-numbers">
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="page-numbers" href="#">3</a></li>
                        <li><a class="next page-numbers" href="#">Next Page &nbsp;&nbsp;&nbsp;→</a></li>
                    </ul>
                </nav>
            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
        <div id="secondary" class="widget-area" role="complementary">
            <div id="nav_menu-2" class="widget widget_nav_menu">
                <div class="menu-food-menu-container">
                    <ul id="menu-food-menu-2" class="menu">
                        @foreach(TblCategory ca in ViewBag.category)
                        {
                            <li class="menu-item"><a href="@ca.FoodTypeId"><i class="po po-@ca.TypeName"></i>@ca.TypeName</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div id="search-2" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                    </label>
                    <input type="submit" class="search-submit" value="Search" />
                </form>
            </div>
        </div>
        <!-- #secondary -->
    </div>
    <!-- .col-full -->
</div>
